<nav>
    <a href="./"><img src="../static/images/logo.png"></a>
    <div class="nav-links" id="navLinks">  
        <i class="fa fa-close" onclick="hideMenu()"></i>
        <ul>
            <li><a href="./">HOME</a></li>
            <li><a href="./disciplines">FORUMS</a></li>
            <li><a href="./about">ABOUT</a></li>
            <li><a href="./contact">CONTACT</a></li>
            <li><a href="./signin">SIGN IN</a></li>
            <li><a href="./signup">SIGN UP</a></li>
        </ul>
    </div>
    <i class="fa fa-bars" onclick="showMenu()"></i>
</nav>